# ignore certain files, like a localsettings.py and any sqlite3 db

.DS_Store

# Ignore compiled files
*.pyc

# local_settings.py is a file with overrides to items in settings.py
local_settings.py

# Ignore builds, build log
build/
build.log
bin-debug/*

# Ignore Eclipse settings dir
.settings

# Ignore flex bits
.flexProperties
.actionScriptProperties
.project

# Ignore lockfile for dev builds
.fastdev.lock

# Ignore pysmell files
PYSMELLTAGS*

# Ignore TextMate tmproj
*.tmproj
