/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

@namespace view "com.sunlightfoundation.decipherdc.view.*";
@namespace comp "com.sunlightfoundation.decipherdc.view.components.*";


s|Application, s|View {
	backgroundColor: #a5a4a2;
	color: #FEFEFE;
}

s|TextArea {
	fontSize: 13;
	contentBackgroundAlpha: 0;
}

s|Scroller {
	contentBackgroundColor: #FFF;
	contentBackgroundAlpha: 1.0;
}

#characterName {
	fontSize: 16;
	fontWeight: bold;
}

s|Button {
	chromeColor: #B42327;
}


comp|MultilineButton {
	fontWeight:normal;
}

comp|LightBox {
	chromeColor: #a5a4a2;
}

global
{
	content-background-alpha: 1.0;
	chromeColor: #efe1d6;
	color: #FFFFFF;
}